<h1>Vehicle Checks</h1>

<p>This component demonstrates fetching data from the server.</p>

<table width="100%">
    <tr>
        <td>
            <label for="clients"> Clients: </label>
            <select name="clientsddl" id="clientsddl" ng-model="data.model" (change)="filterbyclient($event.target.value)">
                <option selected="selected" [value]="">All</option>
                <option *ngFor="let client of clients" [value]="client.name">{{client.name}}</option>
            </select>
        </td>
        <td>
            <label for="vstatus"> Vehicle Status: </label>
            <select name="vstatusddl" id="vstatusddl" ng-model="data.model" (change)="filterbystatus($event.target.value)">
                <option selected="selected" [value]="null">All</option>
                <option [value]="true">Online</option>
                <option [value]="false">Offline</option>
            </select>
        </td>
        <td>
            <input type="button" name="MimicPing" (click)="pingvehicles()">Mimic Ping</button>
        </td>
    </tr>
</table>

<p *ngIf="!checks"><em>Loading...</em></p>

<table class='table' *ngIf="checks">
    <thead>
        <tr>
            <th>Last Check Date</th>
            <th>Status</th>
            <th>Vehicle Reg. No.</th>
            <th>Is it old status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let check of checks">
            <td>{{ check.createdDate }}</td>
            <td>{{ check.status }}</td>
            <td>{{ check.registrationNumber }}</td>
            <td>{{ check.statusOld }}</td>
        </tr>
    </tbody>
</table>
